* {
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  background-image: url("../Img/IMG_20210304_190318.jpg");
  padding-top: 80px;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  /* margin-bottom: 250px; */
}
.top-left {
  text-transform: uppercase;
  color: #fff;
}

.nav-list {
  display: flex;
  flex-direction: row;
}
.drop-down {
  display: none;
}

ul li:hover ul {
  display: block;
  background: grey;
  padding: 15px 20px;
}
li a {
  color: #fff;
}

a {
  margin-right: 10px;

  color: #fff;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.main {
  display: flex;
  justify-content: center;
  justify-items: center;
  /* justify-self: center; */
}
h2 {
  text-align: center;
  color: #fff;
}
.img-center {
  padding-left: 110px;
}
.main-items {
  margin-top: 10px;
}
.btn {
  width: 100px;
  margin-top: 10px;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 8px 8px 5px 25px;
  margin-left: 150px;
  color: #fff;
  /* border-color: #fff; */
}
.btn:hover {
  color: black;
  background: #fff;
}

.hr {
  margin: 0 70px;
}

.second-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grey {
  color: #787878;
  text-transform: uppercase;
  font-size: 15px;
  text-align: left;
  padding: 15px;
}

.second-content-left {
  margin-left: 100px;
}

.icon {
  padding: 15px 0;
}

.news {
  color: #787878;
  padding: 15px 0;
  text-transform: uppercase;
}

input {
  padding: 15px 50px 15px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.btn-red {
  border: 2px solid #bd001f;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  color: #bd001f;
}

.btn-red:hover {
  background: #bd001f;
  color: white;
}

.second-content-right {
  margin-left: 420px;
  padding-right: 50px;
}

h3,
p {
  color: #787878;
}
.tag {
  color: #bd001f;
}

.blue-link {
  color: white;
  padding: 5px;
  border: 1px solid blue;
  background: blue;
  border-radius: 5px;
}

.grid-h3 {
  text-transform: uppercase;
  color: #787878;
  margin-left: 100px;
}

/*.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  margin-left: 100px;
  height: 300px;
}*/
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.flex img {
  margin-right: 50px;
  /* height: 100%;
  width: 100%; */
}

/* .cell {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 

    padding: 10px;
    margin: 10px;

    background-color: green;
    border: 1px solid red;
    text-align: center;

}*/

.flex-vid {
  background: url(../Img/IMG_20210304_190318\ -\ Copy.jpg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

video {
  height: 300px;
  width: 480px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.center {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  height: 250px;
}

blockquote {
  font-size: 35px;
  font-weight: bold;
  color: #808080;
}

.blq {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: lighter;
}

.footer-container {
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  background-color: #1b1c1d;
  width: auto;
  height: 450px;
  display: flex;
  flex-direction: column;
}
.social-icons {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.ft-logo {
  /* margin-top: 50px; */
}

small {
  margin-top: 80px;
  /* padding: 0px 0 150px 0; */
  /* margin: 20px 0; */
}

/* for desktops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
}

/* for tablets, ipads */

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}

/* for mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    background-image: url("../Img/IMG_20210304_190318.jpg");
    background-size: contain;
    height: 550px;
  }

  .top-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .top-left {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
  }

  .top-right {
    display: none;
  }

  .img-center {
    height: 30%;
    margin-left: -25px;
  }

  .btn {
    margin-left: 6rem;
  }

  .hr {
    margin-left: 20px;
  }

  .second-content {
    display: flex;
    flex-direction: column;
  }
  .second-content-left {
    margin-left: 5px;
  }
  .btn-red {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 10px;
  }
  .second-content-right {
    margin-left: 5px;
  }
  .grid-h3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: -1px;
    font-size: 12px;
  }

  .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    /* margin-top: 5px; */
  }

  .flex-vid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  video {
    width: 250px;
    margin-left: 5px;
    padding-top: 1px;
  }

  .vid-2 {
    padding-bottom: 35px;
    width: 250px;
    margin-left: 5px;
    margin-bottom: 30px;
    margin-top: 1px;
  }
}
